.footer {
  background: #111;
  color: #bbb;
  font-size: 14px;

  .info {
      position: relative;
      text-align: center;
      padding: 35px 0;
      background: #222;
      font-weight: 500;
      color: #bbb;
  }
}