.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  color: #333;
  line-height: 75px;
  z-index: 1030;

  @media (min-width: 992px) {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &.no_scroll {
    background: 0 0;
    box-shadow: none;
    color: rgba(255,255,255,.9);
  }

  .nav_link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: #fff;
    letter-spacing: 0.0625em;
  }

}

.navbar_brand {

  img {
    height: 4rem;

    @media (min-width: 992px) {
      height: 5rem;
      transition: height 0.3s ease-in-out;
      font-size: 1.5em;
    }
  }
}