.subs_input {
  background-color: rgba(255,255,255,.145);
  color: #ccc;
  border: 0;
  box-shadow: none;
  padding: 12px 15px 12px;
  border-radius: 2px;
  width: 60%;
  font-size: 13px;

  &:focus {
    border: none;
  }

  @media screen and (max-width: 1140px) {
    width:100%;
    margin-bottom: 3px;
  }
}

.subs_button {
  margin: 0;
  position: relative;
  top: 0;
  padding: 16px 23px 16px;
  background: #eb2545;
  cursor: pointer;
  border: none;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 -1px 0 0 rgb(0 0 0 / 10%) inset;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;

  @media screen and (max-width: 1140px) {
    width:100%;
  }
}

.connect {
  padding: 5rem 0;
  text-align: center
}

.subscribe {
  text-align: center;
}

.social {
  text-align: center;

  a {
    font-size: 30px;
    margin: 0 13px;
    color: #fff;

    &:hover {
      color: #eb2545;
    }
  }

}