// 
// Global theme styling
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    scroll-padding-top: 4.5rem;
}

body {
    position: relative;
    overflow-x: hidden;
}

// Adjust the line height of paragraphs

p {
    line-height: $line-height-lg;
}

// Spacing and heading styling for page sections

.page-section {
    padding: 4.375rem 0;

    a {
        color: #333;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .section-heading-container {
        margin-bottom: 60px;
        text-align: center;
    }

    h2.section-heading {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 2rem;
        letter-spacing: 2px;
        font-weight: 800;
        position: relative;
        text-transform: uppercase;
    }

    h3.section-subheading {
        margin-bottom: .8125rem;

        color: #aaa;
        font-size: 1rem;
        font-weight: 400;
        font-family: $subheadings-font-family;
        text-transform: uppercase;
    }
}


// Increase the padding on sections when screen size is greater
// than the medium breakpoint (set by Bootstrap)

@include media-breakpoint-up(md) {
    section {
        padding: 9rem 0;
    }
}
